<div class="mb-3 radios-date">

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault1"
    />
    <label class="form-check-label" for="flexRadioDefault1">
      pdf
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault2"
      checked
    />
    <label class="form-check-label" for="flexRadioDefault2">
      xls
    </label>
  </div>

</div>
<div class="d-grid gap-2">
  <button type="submit" class="btn btn-secondary">Generar reporte</button>
</div>