<nav class="navbar navbar-expand-lg navbar-dark color-empresarial">
  <div class="container-fluid ps-4">

    <div class="btn-group dropend">
      <button
        type="button"
        class="btn btn-secondary btn-drop"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="bi bi-list"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Visualizar reporte</a></li>
        <li><a class="dropdown-item" type="button" id="cerrarSesion"><strong>Cerrar sesion</strong></a></li>
      </ul>
    </div>

    <div class="collapse navbar-collapse div-ul" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item nav-usernumber">
          <div id="cont-name-perfil">
            <span id="numero-empleado">
              Luis Alfredo Luna Vila
            </span>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>