{{> header}}
{{> loader}}
{{> navbar}}

<div class="mis-servicios">
{{> offCanvaDataRange}}
<aside>
<form id="form-date-ranges" method="post">
{{> dataRange}}
</form>
</aside>

<main class="container">
  <div class="container-table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id Local</th>
                <th scope="col">Sucursal</th>
                <th scope="col">Venta</th>
                <th scope="col">Ticket promedio</th>
                <th scope="col">Numero de tickets</th>
                <th scope="col">Fecha</th>
                {{!-- <th scope="col">Venta Total</th> --}}
            </tr>
        </thead>
        <tbody>
             {{!-- tableRows           --}}
        </tbody>
    </table>
</div>
<hr>
<div class="container-charts">
<div id="chart"></div>
</div>
</main>
  </div>
{{> footer}}