{{> header}}
{{!-- {{> loader}} --}}

<div class="container d-flex justify-content-center pt-5">
  <div class="row w-100 d-flex justify-content-center">
    <div class="col-md-5">
      <br />
      <div class="card sombras-bottom mb-3">
        <div class="card-body">
          
          <div class="text-center m-4">
          <h3>
          <i class="bi bi-person-circle"></i> 
            Registrate
            </h3>
            <hr>
          </div>

          <form class="form-registro" method="post">
            
            <div class="mb-3">
              <label for="NumeroDeEmpleadoCompleto" class="form-label"
                >Numero de empleado</label
              >
              <input
                type="text"
                name="User_NumEmpleado"
                class="form-control"
                id="NumEmpleadoCompleto"
                required
              />
            </div>

            <div class="mb-3">
              <label for="nombreCompleto" class="form-label"
                >Nombre completo</label
              >
              <input
                type="text"
                name="User_Name"
                class="form-control"
                id="nombreCompleto"
                required disabled
              />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Correo electronico</label>
              <input
                type="email"
                name="User_Email"
                class="form-control"
                id="email"
                required
                disabled
              />
              <div id="emailHelp" class="form-text">
                Nunca compartiremos su correo electrónico con nadie más.
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                name="User_Password"
                class="form-control"
                id="password"
                minlength="10"
                required
              />
            <div id="emailHelp" class="form-text">
               Mínimo 10 caracteres, intercala letras, números y signos
              </div>
            </div>
              <div class="mb-3">
              <label for="password" class="form-label">Repite Password</label>
              <input
                type="password"
                name="repitePassword"
                class="form-control"
                id="repitePassword"
                minlength="10"
                required
              />
              <div id="emailHelp" class="form-text">
                Ayudanos a validar que tu contraseña sea correcta.
              </div>
            </div>

            <div class="d-grid gap-2 text-center">
              <button id="btn-registro" type="submit" class="btn btn-secondary" disabled>
                Crear cuenta
              </button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center text-muted">
              <span class=""><a href="/login">&nbsp;Regresar</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
