/* Resolución para dispositivos móviles muy pequeños */
@media (max-width: 575px) {
  .offcanvas-start-calendars{
    display: block;
  }
  .radios-date{
    justify-content: space-around;
  }
  
  .mis-servicios aside {
    display: none;
  }
  .mis-servicios main {
    width: 100%;
  }
  .table {
    font-size: 8px;
  }
}

/* Resolución para dispositivos móviles pequeños */
@media (min-width: 576px) and (max-width: 767px) {
  .offcanvas-start-calendars{
    display: block;
  }
  .radios-date{
    justify-content: space-around;
  }

  .mis-servicios aside {
    display: none;
  }
  .mis-servicios main {
    width: 100%;
  }
  .table {
    font-size: 10px;
  }
}

/* Resolución para tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .offcanvas-start-calendars{
    display: none !important;
  }
  .radios-date {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .mis-servicios aside {
    display: block;
    width: 40%;
  }
  .mis-servicios main {
    width: 60%;
  }
  .table {
    font-size: 12px;
  }
}

/* Resolución para PC de escritorio */
@media (min-width: 972px) {
  .offcanvas-start-calendars{
    display: none !important;
  }
  .radios-date {
    justify-content: space-evenly;
  }
  .mis-servicios aside {
    display: block;

    height: 100%;
    width: 20%;
  }
  .mis-servicios main {
    height: 100%;
    width: 80%;
  }
}

/* Estilos generales */
main hr {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.container-table {
  height: 50%;
  overflow: scroll;
}

.container-charts {
  height: 50%;
  overflow: scroll;
}

.mis-servicios {
  height: 90%;
  display: flex;
  flex-direction: row;
}

.mis-servicios aside {
  background-color: #ecf0f1;
  padding-top: 20px;
}

/* Estilos del formulario */
.radios-date {
  display: flex;
  flex-direction: row;
}

.calendar-start-end {
  padding: 0 10px;
}
